---
const { resultado } = Astro.props;
import {Resultados} from "./Resultados.jsx" 
import Vacante from "./Vacante.jsx"

---

  <header>
  <!-- <Vacante/> -->
<h1>El juego es desde el lunes 07 al viernes 11 de Julio 2025.
    <span>
    Suerte a todos!
    </span>
</h1>
<Vacante client:load />
<h1> Los numeros que salieron:
</h1>
 <Resultados resultado= {resultado[0]?.numeros || []}> </Resultados>
</header>
<style>
h1{border-bottom: 2px solid rgb(7, 114, 4);
text-shadow: 1px 2px 2px rgb(235, 43, 75);
font-size: 1rem;}

header{
  width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color: rgb(248, 208, 208);
    gap: 1rem;
    background-color: rgb(9, 68, 1);
}
p{font-weight: bold;
font-size: 1rem;
width: 60%;
word-break: break-word;}

@media (min-width: 500px) {
  p {
    font-size: 2rem;
  }
  h1{font-size: 2rem;}
}



</style>