---
const { resultado } = Astro.props;


---

<header>
<h1>El juego es desde el lunes 16 al viernes 20 de Junio 2025.
    <span>
    Suerte a todos!
    </span>
</h1>
<h2> Los numeros que salieron:
</h2>
 <p>{ resultado[0].numeros.join(';')}</p>
</header>

<style>
header{
  width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: rgb(12, 11, 11);
    gap: 1rem;
}
p{font-weight: bold;
font-size: medium;
width: 100%;
word-break: break-word;}
</style>