*{margin: 0;
padding: 0;}

html{box-sizing: border-box;}

.numbers{border: gray 2px solid;
text-align: center;
border-radius: 5px;
color: black;
background-color:rgb(207, 193, 193);
font-size:.8rem;
font-weight:bold;}



body{width: 100vw;
    overflow:auto;
   
}
.nombre{font-size: 10px;
}

@media (min-width: 400px) {
  .numbers {font-size:2rem;
   
  }
  .nombre{font-size: 1rem;}
}

