*{margin: 0;
padding: 0;
box-sizing: border-box;}

html{box-sizing: border-box;}

.numbers{border: gray 2px solid;
text-align: center;
border-radius: 5px;
color: black;
background-color:rgb(207, 193, 193);
font-size:.8rem;
font-weight:bold;}



body{max-width: 1200px;
background-color: rgb(9, 68, 1);
   
}
.nombre{font-size: 10px;
}

@media (min-width: 400px) {
  .numbers {font-size:1.5rem;
   
  }
  .nombre{font-size: .8rem;}
}

.item-resultados{
   border: 2px solid #042c07;
  border-radius: 2px;
  text-align: center;
  border-collapse: collapse;
  height: 100%;
}

.dia{grid-row-start: span 2;
text-align: center;
height: 100%;
border: 2px solid   #042c07;
font-size: larger;
font-weight: bold;

}
